<!DOCTYPE html>
<html>
    <head lang="da">
        <meta charset="utf-8">
        <title>First site</title>
    </head>
    <body>
        <header>
            <h1><a href="/">First blog</a></h1>
        </header>

        <article>
            <time>Published: 09.05.2022, 22:25</time>
            <h2><a href="">First post</a></h2>
            <p>First post first post first post</p>
        </article>

        <article>
            <time>Published: 09-05.2022, 22:26</time>
            <h2><a href="">Second post</a></h2>
            <p>Second post second post second post second post</p>
        </article>
    </body>
</html>